---
interface Props {
  reviewDate: string;
}

const { reviewDate } = Astro.props;
---

<div class="box box-warn">
  <div class="box-title">⚠️ Fuente</div>
  <slot /> Última revisión por Mishuko el <strong>{reviewDate}</strong>.
</div>